.wp-block-berger-header-block {
	box-sizing: border-box;
}

.berger-header__cta-settings {
	padding: 12px;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	margin-bottom: 12px;
	gap: 8px;
	display: grid;
	grid-template-columns: 1fr;
}

.berger-header__control-group {
	margin-top: 12px;
}

.berger-header__social-icon .components-icon {
	margin: 0;
}
